html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.container,
.footer {
    display: flex;
    border-color: blue;
    flex: 1;
}


/*Sections*/
.one {
    background-color: #1f2937;
    color: #f9fAf8;
}
/*
.two {
    
}
*/
.three {
    background-color: #e5e7eb;
}
/*
.four {

}
*/
.footer {
    background-color: #1f2937;
}
/*        */
