html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex: 1;
    justify-content: center;
    height: 400px;
    flex: 0 0 auto;
}

.container div {
    width: 80%;
}

/*Sections*/
.one {
    background-color: #1f2937;
    color: #f9fAf8;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.two {

}

.three {
    background-color: #e5e7eb;
}

.four {

}

.footer {
    background-color: #1f2937;
}


/*Nav and Hero Section*/

.top-nav {
    display: flex;
    height: 60px;
    margin-bottom: 40px;
}
.test-logo {
    width: 150px;
}

.top-nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.place-holder-img {
    width: 300px;
}

.hero-content {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
}

.hero-main-text,
.hero-subtext {
    margin: 0;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext,
.top-nav-links ul li {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-signup {
    background-color: #3882f6;
    color: #f9fAf8;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 25px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
}

/*Information Section*/
