html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.container,
.footer {
    display: flex;
    border-color: blue;
    flex: 1;
    justify-content: center;
}

.container div {
    width: 80%;
}

/*Sections*/
.one {
    background-color: #1f2937;
    color: #f9fAf8;
    flex-direction: column;
    align-items: center;
}

.two {

}

.three {
    background-color: #e5e7eb;
}

.four {

}

.footer {
    background-color: #1f2937;
}


/*Top Nav*/

.top-nav {
    display: flex;
    height: 60px;
}
.test-logo {
    width: 150px;
}

.top-nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.place-holder-img {
    width: 300px;
}

